@charset "utf-8";

$bc:background-color;
$mainwidth:1220px;
$t:text-decoration;
@mixin borderstyle($style:solid, $size:1px, $color:#ccc) {
    border: $size $style $color;
}

/* 限时特惠 */
.flashsale {
    width: $mainwidth;
    margin: 0 auto;
    .f-list {
        width: 1234px;
        height: 921px;
        .flash {
            width: 563px;
            height: 220px;
            float: left;
            margin-right: 14px;
            #{$bc}: #f4f4f4;
            padding:45px 20px 28px;
            margin-bottom: 14px;
            position: relative;
        }
    }
}

.flash {
    .top {
        width: 43%;
        height: 20px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        #{$bc}: transparent;
        font-size: 0;
        .top-title {
            color: #fff;
            line-height: 20px;
            #{$bc}: #f71a27;
            font-size: 12px;
            padding: 0 10px;
        }
    }
    .middle {
        width: 220px;
        height: 220px;
        float: left;
    }
    .bottom {
        width: 297px;
        float: right;
        margin-top: 11px;
        overflow: hidden;
        h2 {
            width: 100%;
            height: 19px;
            font-size: 18px;
            color: #050000;
            line-height: 19px;
            margin-bottom: 9px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            height: 44px;
            font-size: 14px;
            color: #f00;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -wekit-box-orient:  vertical;
        }
        .bottom-price {
            font-size: 14px;
            color: #da0000;
            line-height: 28px;
            padding: 19px 0;
            .money {
                font-size: 23px;
                color: #d70000;  
            }
        }
        .buy {
            width: 151px;
            height: 41px;
            font-size: 14px;
            color: #fff;
            line-height: 41px;
            text-align: center;
            #{$bc}: #dc0000;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}